@model Stall

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Stall</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StallName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StallName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StallHigher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StallHigher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdStall" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
