@model IEnumerable<Stall>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StallName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StallHigher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StallName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StallHigher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdStall" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdStall" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdStall" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
