@model UserDTO

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row d-flex justify-content-center mt-5">
    <div class="col-12 col-sm-10 col-md-8">
        <h1 class="fw-bold text-center">Eliminar Usuario</h1>
        <h3 class="text-center mt-2">Estas seguro de eliminar este usuario?</h3>
        <div class="d-flex justify-content-center mt-4">
            <dl class="row col-12 fs-4">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-6 text-center">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-6 text-center">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </dt>
                <dd class="col-sm-6 text-center">
                    @Html.DisplayFor(model => model.RegistrationDate)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Roles)
                </dt>
                <dd class="col-sm-6 text-center">
                    @foreach (string role in Model.Roles)
                    {
                        <p>@role</p>
                    }
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Permissions)
                </dt>
                <dd class="col-sm-6 text-center">
                    @foreach (string permission in Model.Permissions)
                    {
                        <p>@permission</p>
                    }
                </dd>
            </dl>
        </div>
        <div class="d-flex justify-content-end mt-5">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdUser" />
                <a class="btn btn-dark">Volver a la Lista</a>
                <span class="fs-4 fw-bold">|</span>
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            </form>
        </div>
    </div>
</div>
