@model IEnumerable<User>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="fw-bold">Lista de Usuarios</h1>

@if ((await AuthorizationService.AuthorizeAsync(User, "Create-User-Policy")).Succeeded)
{
    <p class="my-4">
        <a asp-action="Create" class="btn btn-success fw-bold fs-5">Crear Usuario</a>
    </p>
}

<table class="table table-striped align-middle" id="dataTable">
    <thead class="table-dark">
        <tr class="text-center">
            <th>
                Nombre
            </th>
            <th>
                Correo
            </th>
            <th>
                Fecha de Registro
            </th>
            <th>
                Roles
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (User user in Model)
        {
            if (!User.IsInRole("Super-Admin") && user.IdUser == 1) continue;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.RegistrationDate)
                </td>
                <td>
                    @foreach (Role_User role in user.Roles)
                    {
                        <p>@role.Role.RoleName</p>
                    }
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Edit-User-Policy")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@user.IdUser" class="btn bg-warning fw-bold"><i class="bi bi-pencil-fill"></i></a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Delete-User-Policy")).Succeeded)
                    {
                        <button class="btn btn-danger fw-bold" onclick="activeModalDelete(@user.IdUser)">
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="/Views/Shared/_ModalDelete.cshtml" />

@section Scripts {
    <script>
        var objectId = 0;

        function activeModalDelete(id) {
            let modalDelete = document.querySelector("#modalDelete");
            modalDelete.classList.remove("d-none");
            modalDelete.classList.add("d-flex");

            objectId = id;
        }

        function deleteRecord() {
            $.ajax({
                type: "POST",
                url: "@Url.ActionLink("Delete", "User")",
                data: { userId: objectId },
                success: function (data) {
                    window.location = "@Url.ActionLink("Index", "User")";
                },
            }).fail(function (jqXHR, textStatus, errorThrown) {
                    
            });
        }
    </script>
}