@model IEnumerable<User>

@{
    ViewData["Title"] = "Usurios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="fw-bold">Lista de Usuarios</h1>

@if ((await AuthorizationService.AuthorizeAsync(User, "Create-User-Policy")).Succeeded)
{
    <p class="mt-4">
        <a asp-action="Create" class="btn btn-success fw-bold fs-5">Crear Usuario</a>
    </p>
}
@*<p class="mt-4">
    <a asp-action="Create" class="btn btn-success fw-bold fs-5">Crear Usuario</a>
</p>*@
<table class="table table-striped align-middle">
    <thead class="table-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @foreach (var role in item.Roles)
                    {
                        <p>@role.Role.RoleName</p>
                    }
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Edit-User-Policy")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdUser" class="btn bg-warning fw-bold"><i class="bi bi-pencil-fill"></i></a> <span class="fw-bold">|</span>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Delete-User-Policy")).Succeeded)
                    {
                        <a asp-action="Delete" asp-route-id="@item.IdUser" class="btn btn-danger fw-bold"><i class="bi bi-trash3-fill"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

