@model IEnumerable<UserDTO>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="fw-bold">Lista de Usuarios</h1>

@if (!(await AuthorizationService.AuthorizeAsync(User, "Create-User-Policy")).Succeeded)
{
    <p class="mt-4">
        <a asp-action="Create" class="btn btn-success fw-bold fs-5">Crear Usuario</a>
    </p>
}
@*<p class="mt-4">
    <a asp-action="Create" class="btn btn-success fw-bold fs-5">Crear Usuario</a>
</p>*@
<table class="table table-striped align-middle">
    <thead class="table-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (UserDTO user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.RegistrationDate)
                </td>
                <td>
                    @foreach (string role in user.Roles)
                    {
                        <p>@role</p>
                    }
                </td>
                <td>
                    @if (!(await AuthorizationService.AuthorizeAsync(User, "Edit-User-Policy")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@user.IdUser" class="btn bg-warning fw-bold"><i class="bi bi-pencil-fill"></i></a> <span class="fw-bold">|</span>
                    }
                    @if (!(await AuthorizationService.AuthorizeAsync(User, "Delete-User-Policy")).Succeeded)
                    {
                        <form asp-action="Delete" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@user.IdUser" />
                            <button class="btn btn-danger fw-bold">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

