@model CandidateVM

@{
    ViewData["Title"] = "Crear Candidato";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    Role role = (Role)ViewBag.Role;
    List<Position> positions = (List<Position>)ViewBag.Positions;
}

@if (ViewBag.Message is not null)
{
    <partial name="/Views/Shared/_ModalMessage.cshtml" model="(String)ViewBag.Message" />
}

<div class="row d-flex justify-content-center mt-5">
    <div class="col-12 col-sm-10 col-md-8 col-xl-5">
        <h1 class="text-center fw-bold">Crear Contraseña</h1>

        <form asp-action="Create" class="p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-4">
                <label asp-for="IdRole" class="control-label mb-1 fw-bold fs-5">Rol por Defecto</label>
                <div>
                    <input type="text" value="@role.RoleName" class="form-control" readonly />
                    <input asp-for="IdRole" type="hidden" value="@role.IdRole" class="form-control" readonly />
                </div> 
            </div>
            <div class="form-group mb-4">
                <label asp-for="IdPosition" class="control-label mb-1 fw-bold fs-5">Puestos</label>
                <select class="form-control" asp-for="IdPosition" id="selectPosition">
                    <option>Seleccionar Puesto</option>
                    @foreach (Position position in positions)
                    {
                        <option value="@position.IdPosition">@position.PositionName</option>
                    }
                </select>
                <span asp-validation-for="IdPosition" class="text-danger"></span>
            </div>
            <div class="form-group" id="tests">
                <label class="control-label fw-bold fs-5">Pruebas del puesto seleccionado</label>
                <p class="text-danger fw-bold" id="notTest"></p>
                <ol class="list-group list-group-numbered" id="listTests">
                </ol>
            </div>
            <div class="form-group my-3">
                <label asp-for="Email" class="control-label fw-bold fs-5"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Password" class="control-label fw-bold fs-5"></label>
                <input asp-for="Password" type="text" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Aceptar" class="btn btn-primary col-5" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $("#selectPosition").change(function () {
            let id = $("#selectPosition option:selected").val();

            if (id > 0){
                $.ajax({
                    type: "GET",
                    url: "@Url.ActionLink("GetTestNames", "Candidate")",
                    data: { positionId: id },
                    success: function (data) {
                        let items = "";
                        let message = "";

                        if (data.length > 0) {
                            $.each(data, function (i, testName) {
                                items += `<li class="list-group-item h6">Test ${testName}</li>`;
                            });

                            $("#notTest").addClass("d-none");
                            $("#listTests").removeClass("d-none");

                            $("#listTests").html(items);
                        } else {
                            message = "Este Puesto no tiene Pruebas";

                            $("#listTests").addClass("d-none");
                            $("#notTest").removeClass("d-none");

                            $("#notTest").html(message);
                        }
                    },
                }).fail(function (jqXHR, textStatus, errorThrown) {

                });
            }else{
                $("#listTests").addClass("d-none");
                $("#notTest").addClass("d-none");
            }
        });
    </script>
}
