@model IEnumerable<CandidateDTO>

@{
    ViewData["Title"] = "Candidatos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="fw-bold">Lista de Contraseñas</h1>

@if ((await AuthorizationService.AuthorizeAsync(User, "Create-Candidate-Policy")).Succeeded)
{
    <p class="my-4">
        <a asp-action="Create" class="btn btn-success fw-bold fs-5">Crear Contraseña</a>
    </p>
}

<table class="table table-striped align-middle" id="dataTable">
    <thead class="table-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (CandidateDTO candidate in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => candidate.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => candidate.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => candidate.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => candidate.Position)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Resend-Candidate-Policy")).Succeeded)
                    {
                        <a asp-action="ResendMail" asp-route-id="@candidate.IdCandidate" class="btn btn-primary"><i class="bi bi-envelope-fill"></i></a>
                    }
                    <button class="btn btn-danger fw-bold" onclick="activeModalDelete(@candidate.IdCandidate)">
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="/Views/Shared/_ModalDelete.cshtml" />

@section Scripts {
    <script>
        var objectId = 0;

        function activeModalDelete(id) {
            let modalDelete = document.querySelector("#modalDelete");
            modalDelete.classList.remove("d-none");
            modalDelete.classList.add("d-flex");

            objectId = id;
        }

        function deleteRecord() {
            $.ajax({
                type: "POST",
                url: "@Url.ActionLink("Delete", "Candidate")",
                data: { candidateId: objectId },
                success: function (data) {
                    window.location = "@Url.ActionLink("Index", "Candidate")";
                },
            }).fail(function (jqXHR, textStatus, errorThrown) {

            });
        }
    </script>
}