@model IEnumerable<Position>

@{
    ViewData["Title"] = "Puestos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="fw-bold">Lista de Puestos</h1>

<p class="mt-4">
    <a asp-action="Create" class="btn btn-success fw-bold fs-5">Crear Puesto</a>
</p>
<table class="table table-striped align-middle">
    <thead class="table-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.PositionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionHigher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionHigher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPosition" class="btn bg-warning fw-bold"><i class="bi bi-pencil-fill"></i></a> |
@*                    <a asp-action="Details" asp-route-id="@item.IdStall" class="btn btn-primary fw-bold"><i class="bi bi-eye-fill"></i></a> |
*@                    <a asp-action="Delete" asp-route-id="@item.IdPosition" class="btn btn-danger fw-bold"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


