@model IEnumerable<Questions_PPGIPG>

@{
    ViewData["Title"] = "Prueba-PPG-IPG";
    Layout = "~/Views/Shared/_Layout.cshtml";

    byte i = 0;
}

<div class="" id="example">
    <div class="card border-0 px-0 px-md-3">
        <div class="">
            <h5 class="card-title h2 fw-bold">Instrucciones Generales</h5>
            <div class="card-text fs-5 px-0 px-md-3">
                <p class="mb-3">
                    A continuación se le presentarán algunas descripciones que están reunidas en grupos de 4 frases (A, B, C y D).
                </p>
                <p class="mb-3">
                    Debe leer las cuatro frases de cada grupo y deberá elegir entre ellas la que MÁS se ajusta a su modo de ser y seleccionar en la columna del signo <span class="fw-bold fs-5"><i class="bi bi-plus-lg"></i></span>,
                    y por otra parte, deberá elegir entre ellas la que MENOS se ajusta a su modo de ser y seleccionar en la columna del signo <span class="fw-bold fs-5"><i class="bi bi-dash-lg"></i></span>.
                </p>
                <p class="mb-3 fw-bold">
                    A continuación se le presenta el siguiente ejemplo, con cuatro frases (A, B, C y D):
                </p>
            </div>
            <div class="mt-4">

                <div class="card col-12 col-lg-9 my-3">
                    <h3 class="card-header fw-semibold px-3 pb-2">Ejemplo</h3>

                    <div class="d-flex align-items-center px-0 px-sm-2 px-lg-4" style="height:75px;">
                        <div class="d-flex align-items-center col-8 col-lg-9 px-2 h-100 me-0 me-sm-2" >
                        </div>
                        <div class="d-flex col-4 col-lg-3">
                            <div class="w-50 d-flex justify-content-center align-items-center me-0 me-sm-2" style="height:75px;">
                                <i class="bi bi-plus-square-fill text-success" style="font-size: 50px "></i>                            
                            </div>
                            <div class="w-50 d-flex justify-content-center align-items-center" style="height:75px;">
                                <i class="bi bi-dash-square-fill text-danger" style="font-size: 50px"></i>                                
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-column gap-3 px-1 mb-2">
                        
                        <div class="d-flex align-items-center px-0 px-sm-2 px-lg-4" style="height:75px;">
                            <div class="d-flex align-items-center col-8 col-lg-9 border rounded px-2 h-100 me-0 me-sm-2" >
                                <p class="text-option d-flex align-items-center m-0">
                                    A) Tiene un apetito excelente.
                                </p>
                            </div>

                            <div class="d-flex col-4 col-lg-3" id="optionExample1">
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[100][0]" value="A"
                                            style="width:25px; height: 25px" />
                                </div>
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[100][1]" value="A"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex flex-column gap-3 px-1 mb-2">
                        
                        <div class="d-flex align-items-center px-0 px-sm-2 px-lg-4" style="height:75px;">
                            <div class="d-flex align-items-center col-8 col-lg-9 border rounded px-2 h-100 me-0 me-sm-2" >
                                <p class="text-option d-flex align-items-center m-0">
                                    B) Se pone enfermo con frecuencia.
                                </p>
                            </div>

                            <div class="d-flex col-4 col-lg-3" id="optionExample2">
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[100][0]" value="B"
                                            style="width:25px; height: 25px" />
                                </div>
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[100][1]" value="B"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex flex-column gap-3 px-1 mb-2">
                        
                        <div class="d-flex align-items-center px-0 px-sm-2 px-lg-4" style="height:75px;">
                            <div class="d-flex align-items-center col-8 col-lg-9 border rounded px-2 h-100 me-0 me-sm-2" >
                                <p class="text-option d-flex align-items-center m-0">
                                    C) Lleva una alimentación equilibrada.
                                </p>
                            </div>

                            <div class="d-flex col-4 col-lg-3" id="optionExample3">
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[100][0]" value="C"
                                            style="width:25px; height: 25px" />
                                </div>
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[100][1]" value="C"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex flex-column gap-3 px-1 mb-3">
                        
                        <div class="d-flex align-items-center px-0 px-sm-2 px-lg-4" style="height:75px;">
                            <div class="d-flex align-items-center col-8 col-lg-9 border rounded px-2 h-100 me-0 me-sm-2" >
                                <p class="text-option d-flex align-items-center m-0">
                                    D) No hace suficiente ejercicio.
                                </p>
                            </div>

                            <div class="d-flex col-4 col-lg-3" id="optionExample4">
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[100][0]" value="D"
                                            style="width:25px; height: 25px" />
                                </div>
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[100][1]" value="D"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="text-end mt-5">
                <button class="btn btn-primary fs-5" onclick="startTest()">Iniciar Prueba</button>
            </div>
        </div>
    </div>
</div>

<div class="d-none" id="test">
    <h1 class="fw-bold">Prueba PPG-IPG</h1>
    
    <form asp-action="Test_PPGIPG" method="post">
        @foreach (Questions_PPGIPG question in Model)
        {
            <div class="mt-4 ps-0 ps-lg-5">

                <div class="card col-12 col-lg-9 my-3">
                    <h3 class="card-header border-bottom fw-semibold px-3 pb-2">Pregunta @question.QuestionNumber</h3>

                    <div class="d-flex align-items-center px-0 px-sm-2 px-lg-4" style="height:75px;">
                        <div class="d-flex align-items-center col-8 col-lg-9 px-2 h-100 me-0 me-sm-2" >
                        </div>
                        <div class="d-flex col-4 col-lg-3">
                            <div class="w-50 d-flex justify-content-center align-items-center me-0 me-sm-2" style="height:75px;">
                                <i class="bi bi-plus-square-fill text-success" style="font-size: 50px"></i>                            
                            </div>
                            <div class="w-50 d-flex justify-content-center align-items-center" style="height:75px;">
                                <i class="bi bi-dash-square-fill text-danger" style="font-size: 50px"></i>                                
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-column gap-3 px-1 mb-2">
                        
                        <div class="d-flex align-items-center px-0 px-sm-2 px-lg-4" style="height:75px;">
                            <div class="d-flex align-items-center col-8 col-lg-9 border rounded px-2 h-100 me-0 me-sm-2" >
                                <p class="text-option d-flex align-items-center m-0">
                                    A) @question.OptionA
                                </p>
                            </div>

                            <div class="d-flex col-4 col-lg-3" id="optionA-@question.QuestionNumber">
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="responses[@i][0]" value="A"
                                            style="width:25px; height: 25px" required />
                                </div>
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded" style="height:75px;">
                                    <input class="" type="radio" id="" name="responses[@i][1]" value="A"
                                            style="width:25px; height: 25px" required />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex flex-column gap-3 px-1 mb-2">
                        
                        <div class="d-flex align-items-center px-0 px-sm-2 px-lg-4" style="height:75px;">
                            <div class="d-flex align-items-center col-8 col-lg-9 border rounded px-2 h-100 me-0 me-sm-2" >
                                <p class="text-option d-flex align-items-center m-0">
                                    B) @question.OptionB
                                </p>
                            </div>

                            <div class="d-flex col-4 col-lg-3" id="optionB-@question.QuestionNumber">
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="responses[@i][0]" value="B"
                                            style="width:25px; height: 25px" required />
                                </div>
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded" style="height:75px;">
                                    <input class="" type="radio" id="" name="responses[@i][1]" value="B"
                                            style="width:25px; height: 25px" required />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex flex-column gap-3 px-1 mb-2">
                        
                        <div class="d-flex align-items-center px-0 px-sm-2 px-lg-4" style="height:75px;">
                            <div class="d-flex align-items-center col-8 col-lg-9 border rounded px-2 h-100 me-0 me-sm-2" >
                                <p class="text-option d-flex align-items-center m-0">
                                    C) @question.OptionC
                                </p>
                            </div>

                            <div class="d-flex col-4 col-lg-3" id="optionC-@question.QuestionNumber">
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="responses[@i][0]" value="C"
                                            style="width:25px; height: 25px" required />
                                </div>
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded" style="height:75px;">
                                    <input class="" type="radio" id="" name="responses[@i][1]" value="C"
                                            style="width:25px; height: 25px" required />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex flex-column gap-3 px-1 mb-3">
                        
                        <div class="d-flex align-items-center px-0 px-sm-2 px-lg-4" style="height:75px;">
                            <div class="d-flex align-items-center col-8 col-lg-9 border rounded px-2 h-100 me-0 me-sm-2" >
                                <p class="text-option d-flex align-items-center m-0">
                                    D) @question.OptionD
                                </p>
                            </div>

                            <div class="d-flex col-4 col-lg-3" id="optionD-@question.QuestionNumber">
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="responses[@i][0]" value="D"
                                            style="width:25px; height: 25px" required />
                                </div>
                                <div class="w-50 d-flex justify-content-center align-items-center border rounded" style="height:75px;">
                                    <input class="" type="radio" id="" name="responses[@i][1]" value="D"
                                            style="width:25px; height: 25px" required />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            i++;
        }

        <div class="text-end my-3 mt-5">
            <input type="submit" class="btn btn-primary fs-5" value="Finalizar Prueba" />
        </div>
    </form>
</div>


@section Scripts{
    <script>
        let inputsRadiosAll = document.querySelectorAll("input[type=radio]");

        inputsRadiosAll.forEach(input => input.addEventListener("click", uncheck));

        function uncheck(event) {
            let parent = event.target.parentNode.parentNode;
            
            let inputsParent = document.querySelectorAll(`#${parent.id} input[type=radio]`);

            let isChecked = inputsParent[0] == event.target;

            isChecked ? inputsParent[1].checked = false : inputsParent[0].checked = false;
        }

    </script>
}
