@model IEnumerable<Questions_OTIS>

@{
    ViewData["Title"] = "Prueba OTIS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    byte i = 0;
}

<div class="" id="example">
    <div class="card border-0 px-0 px-md-3">
        <div class="">
            <h5 class="card-title h2 fw-bold">Instrucciones Generales</h5>
            <div class="card-text fs-5 px-0 px-md-3">
                <p class="mb-3">
                    La siguiente evaluación se compone de diversas preguntas y respuestas que usted deberá de seleccionar.
                </p>
                <p class="mb-3">
                    Observe detenidamente los siguientes ejemplos de la manera en la que deberá resolver la prueba.
                </p>
            </div>
            <div class="mt-4">

                <div class="card col-12 col-lg-9 my-3">
                    <h3 class="text-option card-header fw-semibold px-3 py-3">Ejemplo 1: ¿Cuál de estas cinco palabras nos indica lo que es una manzana?</h3>

                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    A) Flor
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[100][0]" value="A"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    B) Árbol
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[100][0]" value="A"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    C) Legumbre
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[100][0]" value="A"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    D) Fruto
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[100][0]" value="A"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    E) Animal
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[100][0]" value="A"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
                <div class="card col-12 col-lg-9 my-3">
                    <h3 class="text-option card-header fw-semibold px-3 py-3">Ejemplo 2: ¿Cuál de estas cosas es redonda?</h3>

                    <div class="d-flex flex-column gap-3 px-3 py-3">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    A) Libro
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[101][0]" value="A"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    B) Ladrillo
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[101][0]" value="B"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    C) Pelota
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[101][0]" value="C"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    D) Casa
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[101][0]" value="D"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    E) Baúl
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[101][0]" value="E"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
                <div class="card col-12 col-lg-9 my-3">
                    <h3 class="text-option card-header fw-semibold px-3 py-3">Ejemplo 3: ¿Cuál de estos números tiene todas sus cifras impares?</h3>

                    <div class="d-flex flex-column gap-3 px-3 py-3">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    A) 243
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[102][0]" value="A"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    B) 9.871
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[102][0]" value="B"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    C) 6.482
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[102][0]" value="C"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    D) 3.175
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[102][0]" value="D"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    E) 19.783
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[102][0]" value="E"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
                <div class="card col-12 col-lg-9 my-3">
                    <h3 class="text-option card-header fw-semibold px-3 pb-2">Ejemplo 4: El precio de una pastilla es de 20 centavos. ¿Cuánto costaran seis pastillas?</h3>

                    <div class="d-flex flex-column gap-3 px-3 py-3">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    A) 1.80 centavos
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[103][0]" value="A"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    B) 1.20 centavos
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[103][0]" value="B"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    C) 0.90 centavos
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[103][0]" value="C"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    D) 1.30 centavos
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[103][0]" value="D"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    E) 0.75 centavos
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="respon[103][0]" value="E"
                                            style="width:25px; height: 25px" />
                                </div>
                            </div>
                        </div>

                    </div>
                    

                </div>
                
            </div>
            <div class="text-end mt-5">
                <button class="btn btn-primary fs-5" onclick="startTest()">Iniciar Prueba</button>
            </div>
        </div>
    </div>
</div>

<div class="d-none" id="test">
    <h1 class="mb-3 fw-bold">Prueba OTIS</h1>

    <form asp-action="Test_OTIS" method="post">
        @foreach (Questions_OTIS test in Model)
        {
            <div class="card col-12 col-lg-9 my-3">
                <h3 class="text-option card-header fw-semibold px-3 py-3">@test.QuestionNumber. @test.Question</h3>

                <div class="d-flex flex-column gap-3 px-3 my-2">
                    
                    <div class="d-flex align-items-center" style="height:75px;">
                        <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                            <p class="text-option d-flex align-items-center m-0">
                                A) @test.OptionA
                            </p>
                        </div>

                        <div class="d-flex col-2 col-lg-2" id="optionExample1">
                            <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                <input class="" type="radio" id="" name="responses[@i]" value="A"
                                        style="width:25px; height: 25px" required />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex flex-column gap-3 px-3 my-2">
                    
                    <div class="d-flex align-items-center" style="height:75px;">
                        <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                            <p class="text-option d-flex align-items-center m-0">
                                B) @test.OptionB
                            </p>
                        </div>

                        <div class="d-flex col-2 col-lg-2" id="optionExample1">
                            <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                <input class="" type="radio" id="" name="responses[@i]" value="B"
                                           style="width:25px; height: 25px" required />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex flex-column gap-3 px-3 my-2">
                    
                    <div class="d-flex align-items-center" style="height:75px;">
                        <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                            <p class="text-option d-flex align-items-center m-0">
                                C) @test.OptionC
                            </p>
                        </div>

                        <div class="d-flex col-2 col-lg-2" id="optionExample1">
                            <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                <input class="" type="radio" id="" name="responses[@i]" value="C"
                                           style="width:25px; height: 25px" required />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex flex-column gap-3 px-3 my-2">
                    
                    <div class="d-flex align-items-center" style="height:75px;">
                        <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                            <p class="text-option d-flex align-items-center m-0">
                                D) @test.OptionD
                            </p>
                        </div>

                        <div class="d-flex col-2 col-lg-2" id="optionExample1">
                            <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                <input class="" type="radio" id="" name="responses[@i]" value="D"
                                           style="width:25px; height: 25px" required />
                            </div>
                        </div>
                    </div>

                </div>
                @if (test.QuestionNumber != 43)
                {
                    <div class="d-flex flex-column gap-3 px-3 my-2">
                        
                        <div class="d-flex align-items-center" style="height:75px;">
                            <div class="d-flex align-items-center col-9 border rounded px-2 h-100 me-3" >
                                <p class="text-option d-flex align-items-center m-0">
                                    E) @test.OptionE
                                </p>
                            </div>

                            <div class="d-flex col-2 col-lg-2" id="optionExample1">
                                <div class="w-100 d-flex justify-content-center align-items-center border rounded me-0 me-sm-2" style="height:75px;">
                                    <input class="" type="radio" id="" name="responses[@i]" value="E"
                                            style="width:25px; height: 25px" required />
                                </div>
                            </div>
                        </div>

                    </div>
                }

            </div>

            i++;
        }

        <div class="text-end my-3 mt-5">
            <input type="submit" class="btn btn-primary fs-5" value="Finalizar Prueba" />
        </div>
    </form>
</div>



