@model IEnumerable<PPGIPG>

@{
    ViewData["Title"] = "Prueba-PPG-IPG";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int i = 0;
}

<h2>Prueba: PPG-IPG</h2>
<form asp-action="Test_PPGIPG" method="post">
    @foreach (PPGIPG question in Model)
    {
        <div class="card my-2">
            <h5 class="card-header">Pregunta @question.QuestionNumber</h5>
            <div class="card-body d-flex gap-5">
                <div class="w-75 d-flex flex-column gap-3">
                    <div class="card">
                        <div class="card-body">
                            A) @question.OptionA
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            B) @question.OptionB
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            C) @question.OptionC
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            D) @question.OptionD
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column gap-2">
                    <div class=" d-flex align-items-start gap-2" id="optionA-@question.QuestionNumber">
                        <div class="card">
                            <div class="card-body">
                                <input class="" type="radio" id="" name="responses[@i][0]" value="A"
                                   style="width:25px; height: 25px"/>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <input class="" type="radio" id="" name="responses[@i][1]" value="A"
                                   style="width:25px; height: 25px" />
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex align-items-start gap-2" id="optionB-@question.QuestionNumber">
                        <div class="card">
                            <div class="card-body">
                                <input class="" type="radio" id="" name="responses[@i][0]" value="B"
                                   style="width:25px; height: 25px"/>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <input class="" type="radio" id="" name="responses[@i][1]" value="B"
                                   style="width:25px; height: 25px" />
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex align-items-start gap-2" id="optionC-@question.QuestionNumber">
                        <div class="card">
                            <div class="card-body">
                                <input class="" type="radio" id="" name="responses[@i][0]" value="C"
                                   style="width:25px; height: 25px" />
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <input class="" type="radio" id="" name="responses[@i][1]" value="C"
                                   style="width:25px; height: 25px"/>
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex align-items-start gap-2" id="optionD-@question.QuestionNumber">
                        <div class="card">
                            <div class="card-body">
                                <input class="" type="radio" id="" name="responses[@i][0]" value="D"
                                   style="width:25px; height: 25px" />
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <input class="" type="radio" id="" name="responses[@i][1]" value="D"
                                   style="width:25px; height: 25px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        i++;
    }

    <div class="text-end my-3">
        <input type="submit" class="btn btn-primary" value="Terminar" />
    </div>
</form>


@section Scripts{
    <script>
        let inputsRadiosAll = document.querySelectorAll("input[type=radio]");

        inputsRadiosAll.forEach(input => input.addEventListener("click", uncheck));

        function uncheck(event) {
            let parent = event.target.parentNode.parentNode.parentNode;
            let inputsParent = document.querySelectorAll(`#${parent.id} input[type=radio]`);
            let isChecked = inputsParent[0] == event.target;

            isChecked ? inputsParent[1].checked = false : inputsParent[0].checked = false;
        }

    </script>
}
