@model IEnumerable<Role>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="fw-bold">Lista de Roles</h1>

<p class="mt-4">
    <a asp-action="Create" class="btn btn-success fw-bold fs-5">Crear Rol</a>
</p>
<table class="table table-striped align-middle">
    <thead class="table-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permission)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Permission.PermissionName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdRole" class="btn bg-warning fw-bold"><i class="bi bi-pencil-fill"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdRole" class="btn btn-primary fw-bold"><i class="bi bi-eye-fill"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdRole" class="btn btn-danger fw-bold"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

