@model IEnumerable<Role>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h1 class="fw-bold">Lista de Roles</h1>

@if (!(await AuthorizationService.AuthorizeAsync(User, "Create-Role-Policy")).Succeeded)
{
    <p class="mt-4">
        <a asp-action="Create" class="btn btn-success fw-bold fs-5">Crear Rol</a>
    </p>
}

<table class="table table-striped align-middle">
    <thead class="table-dark">
        <tr class="text-center">
            <th>
                Nombre del Rol
            </th>
            <th>
                Permisos
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (Role role in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => role.RoleName)
                </td>
                <td>
                    @foreach (Permission_Role permission in role.Permissions)
                    {
                        <p>@permission.Permission.PermissionName</p>
                    }
                </td>
                <td>
                    @if (!(await AuthorizationService.AuthorizeAsync(User, "Edit-Role-Policy")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-roleId="@role.IdRole" class="btn bg-warning fw-bold"><i class="bi bi-pencil-fill"></i></a>
                    }
                    @if (!(await AuthorizationService.AuthorizeAsync(User, "Delete-Role-Policy")).Succeeded)
                    {
                        <button class="btn btn-danger fw-bold" onclick="activeModalDelete(@role.IdRole)">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="/Views/Shared/_ModalDelete.cshtml"/>


@section Scripts {
    <script>
        var objectId = 0;
        
        function activeModalDelete(id) {
            let modalDelete = document.querySelector("#modalDelete");
            modalDelete.classList.remove("d-none");
            modalDelete.classList.add("d-flex");

            objectId = id;
        }

        function deleteRecord() {
            $.ajax({
                type: "POST",
                url: "@Url.ActionLink("Delete", "Role")",
                data: { roleId: objectId },
                success: function (data) {
                    window.location = "@Url.ActionLink("Index", "Role")";
                },
            }).fail(function (jqXHR, textStatus, errorThrown) {

            });
        }
    </script>
}