@model IEnumerable<ExpedientDTO>

@{
    ViewData["Title"] = "Expedientes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="fw-bold">Lista de Expedientes</h1>

<table class="table table-striped align-middle">
    <thead class="table-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.DUI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Names)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastnames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (ExpedientDTO expedient in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => expedient.DUI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expedient.Names)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expedient.Lastnames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expedient.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => expedient.Position)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@expedient.IdExpedient" class="btn bg-warning fw-bold"><i class="bi bi-pencil-fill"></i></a>
                    <a asp-action="ShowCurriculum" target="_blank" asp-route-id="@expedient.IdExpedient" class="btn bg-primary text-white">CV</a>
                    <a asp-action="ShowResultsPDF" asp-route-id="@expedient.IdExpedient" id="MakeReport" class="btn btn-success text-white" target="_blank">Reporte</a>

@*                    @if (!(await AuthorizationService.AuthorizeAsync(User, "Edit-User-Policy")).Succeeded)
                    {
                        <a asp-action="Details" asp-route-id="@item.IdExpedient" class="btn bg-primary fw-bold"><i class="bi bi-pencil-fill"></i></a> <span class="fw-bold">|</span>
                    }
                    @if (!(await AuthorizationService.AuthorizeAsync(User, "Edit-User-Policy")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdExpedient" class="btn bg-warning fw-bold"><i class="bi bi-pencil-fill"></i></a> <span class="fw-bold">|</span>
                    }
                    @if (!(await AuthorizationService.AuthorizeAsync(User, "Delete-User-Policy")).Succeeded)
                    {
                        <a asp-action="Delete" asp-route-id="@item.IdExpedient" class="btn btn-danger fw-bold"><i class="bi bi-trash3-fill"></i></a>
                    }*@
                </td>
            </tr>
        }
    </tbody>
</table>
