@model IEnumerable<ResultDTO>

@{
    ViewData["Title"] = "Reporte";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";

    Expedient expedient = (Expedient)ViewBag.Expedient;
}

<a class="btn btn-primary m-4" href="https://selectpdf.com/export-to-pdf/?&engine=blink&min_load_time=2"
   onclick="if(!this.urlAdded)href+='&url='+encodeURIComponent(location.href);this.urlAdded=1">Save as Pdf</a>

<div class="mb-4">
    <div class="d-flex">
        <h1 class="col-8 d-flex align-items-center">Resultados de los Tests Psicológicos</h1>
        <img class="col-4" src="~/img/LogoConsulight.png"/>
    </div>
    <div class="ps-4">
        <p class="my-2 fs-5 fw-bold">Nombre: @expedient.Names @expedient.Lastnames</p>
        <p class="my-2 fs-5 fw-bold">Edad: @expedient.Age años</p>
        <p class="my-2 fs-5 fw-bold">Puesto: @expedient.Position</p>
        <p class="my-2 fs-5 fw-bold">Formación Académica: @expedient.AcademicTraining</p>
        <p class="my-2 fs-5 fw-bold">Fecha de Evaluación: @expedient.EvaluationDate</p>
    </div>
</div>

<div class="">
    @foreach (ResultDTO resultDTO in Model)
    {
        @if (resultDTO.IdTest == 1)
        {
            <partial name="/Views/Expedient/Reports/_Report_PPGIPG.cshtml" model="@resultDTO.Results" />
        }
    
        @if (resultDTO.IdTest == 2)
        {
            <partial name="/Views/Expedient/Reports/_Report_OTIS.cshtml" model="@resultDTO.Results" />
        }
    
        @if (resultDTO.IdTest == 3)
        {
            <partial name="/Views/Expedient/Reports/_Report_Dominos.cshtml" model="@resultDTO.Results" />
        }
        
        @if (resultDTO.IdTest == 5)
        {
            <partial name="/Views/Expedient/Reports/_Report_16PF.cshtml" model="@resultDTO.Results" />
        }
    }
</div>
